<div class="container text-center" style="margin-bottom:20px;margin-top:50px">
  <h1>
    ChatRoom: <%= @chat.name %>
  </h1>
</div>

<div class="row">

  <div class="col">
    <div class="chat">
      <% @chat_messages.each do |chat_message| %>
        <div style="margin-bottom:10px;display:flex">
         <% if chat_message.user_id == current_user.id %>
            <div style="padding:20px;display:flex">
              <h3 style="border-radius:50%;background:rgb(22, 127, 251);height:50px;width:50px;padding-top:8px;padding-left:5px;margin-top:10px">Me</h3>
              <div style="margin-left:20px">
                <p>send: <%=time_ago_in_words(chat_message.created_at)%></p>
                <h5>"<%=chat_message.content%>"</h5>
              </div>
            </div>
         <% else %>
            <div style="padding:20px;display:flex">
              <h3 style="border-radius:50%;background:#fe8761;height:50px;width:50px;padding-top:8px;padding-left:8px;margin-top:10px"><%=chat_message.user.name[0,2]%></h3>
              <div style="margin-left:20px">
                <p>send: <%=time_ago_in_words(chat_message.created_at)%></p>
                <p>"<%= chat_message.content %>"</p>
              </div>
            </div>
         <%end %>
       </div>
      <% end %>
    </div>

      <%= form_for Message.new, :html => {:class => 'press'} do |f| %>
        <div class="input-group mb-3" style="display:flex;justify-content: center">
          <%= f.label "new message" %><br>
          <%= f.text_field :content,class: 'chat-input',style:"width:600px;"%>
          <div class="input-group-append">
            <%= f.submit "Send", class: 'btn btn-primary chat-input' %>
          </div>
        </div>
        <%= f.hidden_field :chat_id,:value => @chat.id %>
      <% end %>
  </div>
</div>
