
<div class="banner">
  <h1 class="text-center" style="color:white;transform: translate(0px, 185px);text-shadow:1px 0px grey">Beyong your imaginations.</h1>
  <% if current_user && @answer%>
    <div class="round-notification">
      <%=image_tag "notification.png", class:"notification-icon" %>
      <p class="notification-text">You have new messages</p>
    </div>
  <%end%>
</div>
<h1 class="text-center" style="margin-bottom:30px;margin-top:30px">On sell products</h1>
<div class="container">
  <div class="row">
    <% @products.each do |p| %>
    <div class="col custom-card" style="display:flex;flex-direction:column;margin:10px;">
      <%= link_to show_product_path(p.id) do %>
        <%= cl_image_tag p.photo, height: 300, width: 300, class:"image-link" %>
      <%end%>
      <div class="product-description">
        <p><%= link_to p.name, show_product_path(p.id),style:"color:#f8b500" %></p>
        <p style="color:#f8b500"><%= p.price %> rmb</p>
      </div>
      </div>
    <%end%>
    </div>
  </div>
</div>
