
<div>
  <h1><%= @product.name%></h1>
  <p><%= current_user.name%></p>
  <%= cl_image_tag @product.photo, height: 400, width: 400 %>
  <h1><%= @product.price%> rmb</h1>
  <h3><%= @product.description %></h3>
</div>

<button><%=link_to "book now", new_product_booking_path(@product.id) %></button>
