<h1>Edit product</h1>

<%= form_for @product do |f| %>
  <%= f.label 'product name' %><br>
  <%= f.text_field :name %><br>

  <%= f.label 'product price' %><br>
  <%= f.text_area :price %><br>

  <%= f.submit "Submit update" %>
<% end %>

