
<div class="container">
  <h1>Product form </h1>

<%= form_for @product do |f| %>
  <%= f.label 'product name' %><br>
  <%= f.text_field :name %><br>

  <%= f.label 'product price' %><br>
  <%= f.text_area :price %><br>

  <%= f.file_field :photo %>
  <%= f.text_field :photo_cache, as: :hidden %>

  <%= f.submit "Submit update" %>
  <% end %>

</div>
