
<div class="container">
  <h1>Sell my Product </h1>

<%= form_for @product do |f| %>
  <%= f.label 'product name' %><br>
  <%= f.text_field :name %><br>

  <%= f.label 'product price' %><br>
  <%= f.text_field :price %><br>

  <%= f.file_field :photo %>
  <%= f.hidden_field :photo_cache %>

  <%= f.submit "Submit update" %>
  <% end %>

</div>
